In [1]:
import pandas as pd

In [3]:
# (1) Используя параметры read_csv из pandas прочитать файл csv UCI_Credit_Card.csv так,
# чтобы данные были разбиты по соответствующим колонкам 
# (а не все слилось в одну)

In [4]:
# (2) выведите, что за типы переменных, сколько пропусков,
# для численных значений посчитайте пару статистик (в свободной форме)

In [2]:
#TODO
card = pd.read_csv('UCI_Credit_Card.csv', sep = ',')
card.info()
card.describe(percentiles = [0.5,0.6])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null float64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null float64
BILL_AMT2                     30000 non-null float64
BILL_AMT3                     30000 non-null float64
BILL_AMT4                     30000 non-null float64
BILL_AMT5                     30000 non-null float64
BILL_AMT6                     30000 non-null float64
PAY_AMT1                      30000 non-null float64
PAY_AMT2                      30000 non-null float64
PAY_AMT3                      30000 non-null float64
PAY_AMT4                      30000 non-null float64
PAY_AMT5                      30000 non-null float64
PAY_AMT6                      30000 non-null float64
default.payment.next.month    30000 non-null int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
60%,18000.400000,180000.000000,2.000000,2.000000,2.000000,37.000000,0.000000,0.000000,0.000000,0.000000,...,28604.400000,26690.400000,25508.400000,3000.000000,3.000000e+03,2500.00000,2100.000000,2123.400000,2100.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [3]:
# (3) посчитать число женщин с университетским образованием
# SEX (1 = male; 2 = female). 
# EDUCATION (1 = graduate school; 2 = university; 3 = high school; 4 = others).
femaleun = card[(card['EDUCATION'] == 2) & (card['SEX'] == 2)]
len(femaleun)

8656

In [4]:
# (4) Сгрупировать по "default.payment.next.month" и посчитать медиану для всех показателей начинающихся на BILL_ и PAY_
#TODO

col = card.columns
card[col[6:len(col)]].groupby('default.payment.next.month').median()

,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
default.payment.next.month,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,23119.5,21660.5,20202.5,19000.0,17998.0,16679.0,2459.5,2247.5,2000.0,1734.0,1765.0,1706.0
1,1,0,0,0,0,0,20185.0,20300.5,19834.5,19119.5,18478.5,18028.5,1636.0,1533.5,1222.0,1000.0,1000.0,1000.0

In [5]:
# (5) постройте сводную таблицу (pivot table) по SEX, EDUCATION, MARRIAGE
#TODO
card.pivot_table( 'SEX', 'EDUCATION', 'MARRIAGE' )

MARRIAGE          0         1         2         3
EDUCATION
0               NaN  1.500000  1.400000       NaN
1          1.750000  1.545943  1.613306  1.400000
2          1.833333  1.653610  1.581197  1.611111
3          1.727273  1.633695  1.531692  1.650485
4               NaN  1.653846  1.661765  1.666667
5               NaN  1.680000  1.637795  1.666667
6               NaN  1.500000  1.476190  2.000000

In [83]:
# (6) Создать новый строковый столбец в data frame-е, который:
# принимает значение A, если значение LIMIT_BAL <=10000
# принимает значение B, если значение LIMIT_BAL <=100000 и >10000
# принимает значение C, если значение LIMIT_BAL <=200000 и >100000
# принимает значение D, если значение LIMIT_BAL <=400000 и >200000
# принимает значение E, если значение LIMIT_BAL <=700000 и >400000
# принимает значение F, если значение LIMIT_BAL >700000
k = 0
l = pd.Series(['A' for i in card['LIMIT_BAL']]) #создаем серию(изначально заполненную А) для хранения столбца, который будет добавлен в DataFrame
for i in card['LIMIT_BAL']: #заменяем А в серии на необходимое значние в соответствии с условиями
    if 10000 < i <= 100000:
        l[k] = 'B'
    if 100000 < i <= 200000:
        l[k] = 'C'
    if 200000 < i <= 400000:
        l[k] = 'D'
    if 400000 < i <= 700000:
        l[k] = 'E'
    if i > 700000:
        l[k] = 'F'
    k += 1

card['limvue'] = l # добавляем новый столбец в DataFrame
card

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month,limvue
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,B
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,C
2,3,90000.0,2,2,2,34,0,0,0,0,...,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,B
3,4,50000.0,2,2,1,37,0,0,0,0,...,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,B
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,B
5,6,50000.0,1,1,2,37,0,0,0,0,...,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0,B
6,7,500000.0,1,1,2,29,0,0,0,0,...,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0,E
7,8,100000.0,2,2,2,23,0,-1,-1,0,...,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0,B
8,9,140000.0,2,3,1,28,0,0,2,0,...,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0,C
9,10,20000.0,1,3,2,35,-2,-2,-2,-2,...,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0,B
10,11,200000.0,2,3,2,34,0,0,2,0,...,1828.0,3731.0,2306.0,12.0,50.0,300.0,3738.0,66.0,0,C
11,12,260000.0,2,1,2,51,-1,-1,-1,-1,...,22287.0,13668.0,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,0,D
12,13,630000.0,2,2,2,41,-1,0,-1,-1,...,6500.0,2870.0,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,0,E
13,14,70000.0,1,2,2,30,1,2,2,0,...,36137.0,36894.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0,1,B
14,15,250000.0,1,1,2,29,0,0,0,0,...,56875.0,55512.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,0,D
15,16,50000.0,2,3,3,23,1,2,0,0,...,29531.0,30211.0,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,0,B
16,17,20000.0,1,1,2,24,0,0,2,2,...,17905.0,19104.0,3200.0,0.0,1500.0,0.0,1650.0,0.0,1,B
17,18,320000.0,1,1,1,49,0,0,0,-1,...,5856.0,195599.0,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,0,D
18,19,360000.0,2,1,1,49,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,D
19,20,180000.0,2,1,2,29,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,C
20,21,130000.0,2,3,2,39,0,0,0,0,...,11802.0,930.0,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,0,C
21,22,120000.0,2,2,1,39,-1,-1,-1,-1,...,632.0,316.0,316.0,316.0,0.0,632.0,316.0,0.0,1,C
22,23,70000.0,2,2,2,26,2,0,0,2,...,46905.0,46012.0,2007.0,3582.0,0.0,3601.0,0.0,1820.0,1,B
23,24,450000.0,2,1,1,40,-2,-2,-2,-2,...,0.0,0.0,19428.0,1473.0,560.0,0.0,0.0,1128.0,1,E
24,25,90000.0,1,1,2,23,0,0,0,-1,...,6360.0,8292.0,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,0,B
25,26,50000.0,1,3,2,23,0,0,0,0,...,29829.0,30046.0,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,0,B
26,27,60000.0,1,1,2,27,1,-2,-1,-1,...,127.0,-189.0,0.0,1000.0,0.0,500.0,0.0,1000.0,1,B
27,28,50000.0,2,3,2,30,0,0,0,0,...,18931.0,19617.0,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,0,B
28,29,50000.0,2,3,1,47,-1,-1,-1,-1,...,30430.0,257.0,3415.0,3421.0,2044.0,30430.0,257.0,0.0,0,B
29,30,50000.0,1,1,2,26,0,0,0,0,...,18375.0,11400.0,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,29971,360000.0,1,1,1,34,-1,-1,-1,0,...,8676.0,19487.0,52951.0,64535.0,8907.0,53.0,19584.0,16080.0,0,D
29971,29972,80000.0,1,3,1,36,0,0,0,0,...,71070.0,73612.0,2395.0,2500.0,2530.0,2556.0,3700.0,3000.0,0,B
29972,29973,190000.0,1,1,1,37,0,0,0,0,...,19616.0,148482.0,2000.0,3869.0,25128.0,10115.0,148482.0,4800.0,0,C
29973,29974,230000.0,1,2,1,35,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,D
29974,29975,50000.0,1,2,1,37,1,2,2,2,...,1585.0,1324.0,0.0,3000.0,0.0,0.0,1000.0,1000.0,1,B
29975,29976,220000.0,1,2,1,41,0,0,-1,-1,...,1759.0,1824.0,8840.0,6643.0,5924.0,1759.0,1824.0,7022.0,0,D
29976,29977,40000.0,1,2,2,47,2,2,3,2,...,47151.0,46934.0,4000.0,0.0,2000.0,0.0,3520.0,0.0,1,B
29977,29978,420000.0,1,1,2,34,0,0,0,0,...,144839.0,147954.0,7000.0,7000.0,5500.0,5500.0,5600.0,5000.0,0,E
29978,29979,310000.0,1,2,1,39,0,0,0,0,...,216540.0,210675.0,10029.0,9218.0,10029.0,8049.0,8040.0,10059.0,0,D
29979,29980,180000.0,1,1,1,32,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,C
29980,29981,50000.0,1,3,2,42,0,0,0,0,...,19971.0,19694.0,10000.0,4000.0,5000.0,3000.0,4500.0,2000.0,0,B
29981,29982,50000.0,1,2,1,44,1,2,2,2,...,22676.0,14647.0,2300.0,1700.0,0.0,517.0,503.0,585.0,0,B
29982,29983,90000.0,1,2,1,36,0,0,0,0,...,12036.0,14329.0,1500.0,1500.0,1500.0,1200.0,2500.0,0.0,1,B
29983,29984,20000.0,1,2,1,44,-2,-2,-2,-2,...,9235.0,1719.0,2890.0,2720.0,2890.0,9263.0,1824.0,1701.0,0,B
29984,29985,30000.0,1,2,2,38,-1,-1,-2,-1,...,1907.0,3319.0,923.0,2977.0,1999.0,3057.0,3319.0,1000.0,0,B
29985,29986,240000.0,1,1,2,30,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,D
29986,29987,360000.0,1,1,2,35,-1,-1,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,D
29987,29988,130000.0,1,1,2,34,0,0,0,0,...,93708.0,97353.0,3000.0,2000.0,93000.0,4000.0,5027.0,4005.0,0,C
29988,29989,250000.0,1,1,1,34,0,0,0,0,...,175005.0,179687.0,65000.0,8800.0,9011.0,6000.0,7000.0,6009.0,0,D
29989,29990,150000.0,1,1,2,35,-1,-1,-1,-1,...,0.0,0.0,9054.0,0.0,783.0,0.0,0.0,0.0,0,C
29990,29991,140000.0,1,2,1,41,0,0,0,0,...,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0,0,C
29991,29992,210000.0,1,2,1,34,3,2,2,2,...,2500.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,1,D
29992,29993,10000.0,1,3,1,43,0,0,0,-2,...,0.0,0.0,2000.0,0.0,0.0,0.0,0.0,0.0,0,A
29993,29994,100000.0,1,1,2,38,0,-1,-1,0,...,69473.0,55004.0,2000.0,111784.0,4000.0,3000.0,2000.0,2000.0,0,B
29994,29995,80000.0,1,2,2,34,2,2,2,2,...,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1,B
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0,D
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0,C
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1,B
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1,B
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1,B

# Бонусные задания

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# (7) постироить распределение LIMIT_BAL (гистрограмму)
import seaborn as sns

In [ ]:
 #TODO

In [ ]:
# (8) построить среднее значение кредитного лимита для каждого вида образования 
# и для каждого пола
# график необходимо сделать очень широким (на весь экран)
#TODO

In [ ]:
# (9) построить зависимость кредитного лимита и образования только для одного из полов

#TODO

In [ ]:
# (10) построить большой график (подсказка - используя seaborn) для построения завимисости всех возможных пар параметров
# разным цветом выделить разные значение "default payment next month"
# (но так как столбцов много - картинка может получиться "монструозной")
# (поэкспериментируйте над тем как построить подобное сравнение параметров)
# (подсказка - ответ может состоять из несколькольких графиков)
# (если не выйдет - программа минимум - построить один график со всеми параметрами)
import seaborn

#TODO